.medical-ward-slider {

    @include container();
    
    @include media-breakpoint-up(md) {
        padding-right: 0;
    }
    
    &__slider {
        margin-top: 32px;
        overflow: visible !important;

        & .swiper-slide {
            flex-shrink: unset;
            display: inline-block;
        }
    }
}

.ward-slider-card {
    display: flex;
    background-color: var(--white);
    
    border-radius: 20px;

    @include media-breakpoint-down(xl) {
        flex-direction: column;
        width: 450px;
    }

    @include media-breakpoint-down(md) {
        width: inherit;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 420px;
        box-sizing: border-box;
        padding: 22px;

        @include media-breakpoint-down(xl) {
            width: 100%;
        }
    }

    &__image {
        width: 380px;
        height: 100%;

        @include media-breakpoint-down(xl) {
            width: 100%;
            border-radius: 20px;

            padding: 0 20px 16px 20px;
            box-sizing: border-box;
        }
        
        border-radius: 0 20px 20px 0;
        
        img {
            border-radius: 0 20px 20px 0;
            width: 100%;
            @include media-breakpoint-down(xl) {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    &__title-block {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(xl) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--grey3);
        border-radius: 50%;
    }

    &__title {
        @extend .h4;

        margin-left: 14px;

        color: var(black);

        @include media-breakpoint-down(xl) {
            margin-left: 0px;
            margin-top: 10px;
        }
    }

    &__description {
        @extend .text1;

        color: var(--light-grey2);  
        
        margin-top: 20px;
    }

    &__buttons {
        margin-top: 20px;

        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        row-gap: 6px;
        column-gap: 6px;
    }
}