.navigation {
    padding: 10px 15px;
    display: flex;

    background-color: #fff;
    opacity: .5;

    border-radius: 10px;

    .navigation__link {
        @include text-link;
        &:not(:first-child) {
            margin-left: 24px;
        }
    }
}