.mobile-menu {

    @include container();

    padding-bottom: 38px;

    @include media-breakpoint-up(xl) {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 0;

    z-index: 5;

    width: 100vw;
    height: 100vh;

    background-color: var(--white);

    padding-top: 108px;

    display: flex;
    flex-direction: column;

    &__button {
        flex-grow: 2;
        width: 100%;

        display: flex;
        align-items: flex-end;
        justify-content: center;
    } 
}

.mobile-location {
    display: flex;

    align-items: flex-end;
    justify-content: center;

    &__text {
        @extend .text2;

        margin-left: 4px;

        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--grey2);
    }
}

.mobile-navigation {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    text-align: center;

    @include media-breakpoint-up(xl) {
        display: none;
    }

    &__item {
        display: inline-block;

        &:first-child {
            a {
                background: linear-gradient(248deg, #97a4a6 0%, #3d4041 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &:not(:first-child) {
            margin-top: 20px;
        }

        a {
            @extend .h5;

            text-decoration: none;

            color: var(--grey3);
        }
    }
}