:root {
    --white: #FFFFFF;
    --light-grey: #F5F6F8;
    --light-grey2: #AAACAD; 
    --dark-grey: #1C1C1C;
    --black: #000000;
    --grey: #AAAAAA;
    --grey2: #9F9D9D;
    --grey3: #3D4041;
    --grey4: #EAEAEA;
    --grey5: #E8E9EF;
    --grey6: #F8F8FA;
    --grey7: #F9F9FB;

    --black-gradient: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 100%);
    --grey-gradient: linear-gradient(158deg, #e5e9ea 0%, #d8d9d9 100%);
}