:root {
    --white: #FFFFFF;
    --light-grey: #F5F6F8;
    --dark-grey: #1C1C1C;
    --black: #000000;
    --grey: #AAAAAA;
    --grey2: #9F9D9D;
    --grey3: #3D4041;

    --black-gradient: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 100%);
}