@mixin container {
    width: 90%;
    box-sizing: border-box;
    position: absolute;
    padding: 0px 40px;
    max-width: 1217px;
    margin: 0 auto;
}

@mixin text-12 {
    font-size: 12px;
    font-weight: 400;
}

@mixin text-link {
    text-decoration: none;
    color: #000;
}

@mixin wrapper {
    width: 100%;
}