.h1-intro {
    font-weight: 600;
    line-height: 75%;
    @include rem-adaptive-font(42, 48, 48, 56, 80);
}

.h1 {
    font-weight: 500;
    line-height: 100%;
    
    @include rem-adaptive-font(36, 40, 40, 48, 60);
}

.h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: -0.01em;

    @include rem-adaptive-font(32, 40, 52, 64, 64);
}

.h2-slim {
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.01em;
    @include rem-adaptive-font(32, 40, 40, 48, 48);
}

.h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    @include rem-adaptive-font(32, 36, 36, 40, 40);
}

.h4 {
    font-weight: 500;
    font-size: 24px;
}

.h5 {
    font-weight: 500;
    font-size: 20px;
}

.h5-sm {
    font-weight: 600;
    font-size: 20px;
}

.text1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.text1-m {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
}

.text2 {
    font-weight: 400;
    font-size: 12px;
}

.text-button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;

    @include rem-adaptive-font(13, 14, 14, 14, 14);
}

.text-button18 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.01em;

    @include rem-adaptive-font(14, 16, 16, 16, 18);
}

.text-price-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: -0.01em;
    @include rem-adaptive-font(16, 16, 20, 20, 20);
}

.text-price {
    font-weight: 400;
    font-size: 24px;
    line-height: 167%;
    letter-spacing: -0.01em;
    @include rem-adaptive-font(16, 16, 20, 20, 24);
}

.text-price-disclaimer {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
}

.h1-intro, .h1, .h2, .h2-slim, .h3, 
.h4, .h5, .h5-sm, .text1, .text1-m, .text2, 
.text-button, .text-button18, .text-price, .text-price-name {
    font-family: 'Manrope', sans-serif;
}