.button {
    text-decoration: none;
    color: #FFFFFF;
}

.button--grey {
    background-color: #3D4041;
}

.button--black {
    background-color: #000000;
}

.button--white {
    background-color: #FFFFFF;
    color: #050505;
}