.header {
    
    position: absolute;
    z-index: 10;

    @include wrapper();

    width: 100%;
    display: flex;

    top: 13px;
    height: 50px;
    left: 0;

    &__logo-location {
        display: flex;
        align-items: flex-end;
    
        .location-text {
            @include text-12;
            opacity: .5;
            margin-left: 24px;

            text-decoration: underline;

            margin-bottom: 6px;

            @media screen and (max-width: 875px) {
                display: none;
            }
        }
    }

    &__contacts {
        display: flex;
        
        &-button:not(:first-child) {
            margin-left: 8px;
        }

        @media screen and (max-width: 1280px) {
            display: none;
        }
    }

    &__wrapper {
        @include container();
    
        position: relative;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        box-sizing: border-box;

        height: 100%;
    
        border-radius: 10px;
        
        * {
            z-index: 2;
        }
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;
            z-index: 1;
            backdrop-filter: blur(15px);
            background-color: #fff;
            opacity: .5;
            border-radius: 10px;
        }
    }
}
